/* navbar */
.nav-section nav {
  background-color: #282e36;
}

.navbar-toggler {
  color: transparent;
}

.navbar-toggler-icon .fa-bars {
  color: white;
}

.navbar a {
  font-family: "DM Serif Display", serif;
}

.nav-item a {
  color: white;
  font-size: larger;
}

a.dropdown-item {
  font-size: medium !important;
  color: #ffffff;
}

.nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-link:hover,
.nav-link:focus {
  color: #859099d7 !important;
}

.navbar {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.237);
}

.dropdown-menu {
  background-color: #303841 !important;
  border-radius: 0.3rem !important;
  box-shadow: 0px 5px 10px #282e36;
}

a.dropdown-item:hover,
a.dropdown-item:focus {
  background-color: transparent !important;
  color: #6c757d;
  transition: ease-in-out 0.15s;
}
