body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #282e36 !important;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "DM Serif Display", serif;
}

h3,
h4,
h5,
p,
div {
  font-family: "Montserrat", sans-serif;
}

p {
  white-space: pre-wrap;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

iframe {
  display: block;
  margin: auto;
  width: 100%;
}

/* === general styles === */

/* backgrounds */
.bg-light-gray {
  background-color: #282e36;
}

.bg-dark-gray {
  background-color: #20252b;
}

.bg-image {
  background: linear-gradient(to right, #20252bbf, #20252bbf),
    url("https://images.unsplash.com/photo-1613142659446-bf37da865799?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80") !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-image-alt {
  background: linear-gradient(to right, #20252bbf, #20252bbf),
    url("https://images.pexels.com/photos/210764/pexels-photo-210764.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-image-alt-2 {
  background: linear-gradient(to right, #20252bbf, #20252bbf),
    url("https://images.pexels.com/photos/934067/pexels-photo-934067.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") !important;
  background-size: cover;
  background-repeat: no-repeat;
}

/* containers */
.section-container {
  padding: 7rem 2rem !important;
}

.page-section-container {
  padding: 2rem 5rem 5rem 5rem !important;
}

@media only screen and (max-width: 800px) {
  .page-section-container {
    padding: 1rem 2rem 2rem 2rem !important;
  }
}

/* text styles */
.large-text {
  font-size: larger;
}

.small-text {
  font-size: 0.6rem;
}

.link {
  color: #f6c90d;
}

.link:hover {
  color: #d9b00d;
  transition: ease-in-out 0.1s;
}

.section-header {
  font-size: 3rem;
  margin: 2rem 0rem;
  color: white;
}

.header-2 {
  text-align: left;
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0rem;
}

.header-3 {
  text-align: left;
  color: rgb(182, 182, 182);
  font-size: 1rem;
}

.header-4 {
  color: #20252b;
  font-size: 5rem;
  margin-top: 10rem;
}

.row-section-header {
  font-size: 8rem;
  margin: 0.5rem 0;
  color: white;
}

@media only screen and (max-width: 800px) {
  .row-section-header {
    font-size: 4rem;
  }
}

.row-text-col {
  padding-left: 2rem !important;
}

@media only screen and (max-width: 600px) {
  .row-text-col {
    padding-left: 0rem !important;
  }
}

.yellow-line {
  color: #f6c90d;
  height: 0.25rem !important;
  opacity: 1;
  margin-top: 0 !important;
  width: 10rem;
}

/* buttons */
.btn {
  border: none !important;
}

.btn:focus {
  box-shadow: none !important;
}

.btn-primary {
  background-color: #d9b00d !important;
}

.btn-submit {
  margin-top: 1rem;
}

.btn-submit:hover {
  background-color: rgba(198, 161, 15, 0.92) !important;
  transition: ease-in-out 0.2s;
}

/* spacer */
.spacer {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.spacer-small {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 1200px) {
  .spacer-small {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* images */
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-col {
  padding: 0 5rem !important;
}

.img-col img {
  width: 100%;
  border-radius: 1rem;
}

@media only screen and (max-width: 1000px) {
  .img-col {
    padding: 1rem 2rem !important;
  }
}

/* breadcrumb */
.breadcrumb a {
  text-decoration: none;
  color: #6c757d;
}

.breadcrumb a:hover {
  color: #f6c90d;
  transition: ease-in-out 0.2s;
}

/* title section */
.title-section {
  height: 45rem;
}

.title-container {
  padding-top: 10rem !important;
}

@media only screen and (min-width: 1400px) {
  .title-container {
    padding-left: 20rem !important;
    padding-right: 20rem !important;
  }
}

/* youtube background video */
.youtube-video {
  height: 45rem !important;
  opacity: 0.3 !important;
}

.content {
  position: relative;
}

.video-background-controls {
  position: relative !important;
  right: 0 !important;
  top: -5rem !important;
}

.video-background-controls button {
  margin: 0 auto;
  display: block;
  border: none;
  text-decoration: none;
  background-color: transparent;
  color: white;
  transform: scale(2);
}

/* scrollbar */
.scroll-content {
  width: 100vw;
  height: 100%;
}

.scrollbar-track-x {
  display: none !important;
}

/* modal */
.modal-backdrop {
  z-index: -1 !important;
}

.frozen {
  position: fixed;
  pointer-events: none;
  height: 100vh;
  width: 100%;
  overflow-y: hidden !important;
  opacity: 0.1;
}

.modal-content {
  border-radius: 1rem !important;
}

/* quiz form */
.title-container#quiz-form-container {
  padding-top: 0 !important;
  padding-bottom: 5rem;
}
